<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/KTGT1/src/ued/HCTUYEN/view/TestTeacher.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ued.HCTUYEN.view.TestTeacher"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="KTGT1"/>
</launchConfiguration>
